<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Local" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\10113\Desktop\Exam\ServerApp\MyDataBase.mdf;Integrated Security=True;Timeout=5" providerName="System.Data.SqlClient" />
    <add name="Distance" connectionString="data source=10.3.11.100;initial catalog=SP2922_10113;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;Timeout=10" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>